@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@500 & display=swap');

.mvl-main-footer {
  height: 550px;
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: 1fr;
  background-color: black;
  margin-top: 30px;
}
.footer-img {
  margin-left: 25px;
  width: 965px;
   background-image: url('/assets/images/footerImg.png ');
  background-repeat: no-repeat;
}
.footer-win {
  width: 965px;
  background-color: black;
  text-align: center;
}
.button-footer{
  background-color: rgb(172, 31, 31);
  height: 60px;
  width: 250px;
  padding: 10px;
  color: white;
  font-size: large;
  position: relative;
  margin-bottom: 90px;
 
}
.title-footer {
  margin-top: 60px;
  font-size: 1.5rem;
  color: rgb(172, 31, 31);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.prom-footer {
  font-size: 2.5rem;
  color: white;
}
.info-footer{
  font-size: 1.4rem;
  font-family: sans-serif;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  
}
// background: var(--color-primary-dark);
//     color: var(--color-accent);