
.content-footer{
   width: 200% ;
   height: 500px;
   background: var(--color-primary-dark);
  color: var(--color-accent);
 }
  .main-footers_links{
   padding-top: 50px;
   display: flex;
   flex-direction: row;
   padding-bottom: 26px;
   border-bottom: 1px solid ;
 }
 .main-footer-link{
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: white; 
 }
 .main-footer-links2{
  margin-left: 30px;
 }
 .main-footer-links1{
  margin-left: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800px;
  font-size: 2rem;
 }
 ul{
  list-style: none;
 }
 