.mvl-main-footer {
  height: 400px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%,1fr));
  grid-template-rows: 1fr;
  background-color: var(--color-primary-dark);
  color: var(--color-accent);
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 50px;
  
}
