.mvl-characters-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  background-color: var(--white);
  margin-bottom: 30px;
}

.mvl-characters-page-header {
  background-image: url('/assets/images/characters_banner.jpeg');
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  flex-direction: column;
  width: 100%;
}

.mvl-section-card {
  //   background-image: url('/assets/images/banner-characters.png');
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border);
  width: 500px;
  background-color: goldenrod;
  
}

.main {
  background-color: var(--white);
}

.container {
  color: var(--black);
}
.text-header {
  color: white;
  font-size: 2rem;
  font-family: serif;
}
.u-no-margin-header {
  font-size: 3rem;
  letter-spacing: 1px;
}
.featured-text {
  color: black;
  font-size: 3rem;
  letter-spacing: 1px;
}
